#root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center; */
}
body {
    margin: 0px;
    background-color: #fff7ed;
}

main {
    position: fixed;
    top: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #fff7ed;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.host-nav {
    display: flex;
    height: 60px;
    background-color: #fff7ed;
    position: fixed;
    top: 80px;
    width: 100%;
}

.host-main {
    position: fixed;
    top: 140px;
}

.host-nav > a {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 20px;
}

.navbar > h1 {
    display: flex;
    font-size: 25.35px;
    justify-content: flex-start;
    align-items: center;
}

.navbar > li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}

.navbar > li > a {
    text-decoration: none;
    padding: 10px;
}
.navbar > li > a:visited,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #252525;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    color: #aaaaaa;
}

.home {
    background-image: url('./assets/home.png');
    height: 300px;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home > h1,
.home > p {
    margin: 0px;
    color: white;
}

.home > section > h1 {
    font-size: 36px;
    line-height: 42px;
    color: white;
}
.home > section > p {
    font-size: 16px;
    color: white;
}

.home > button {
    width: 100%;
    border-radius: 5px;
    border-style: none;
    background-color: #ff8c38;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.about-img {
    object-fit: cover;
    height: 340px;
    width: 100%;
}

.about {
    padding: 20px;
}

.action-div {
    background-color: #ffcc8d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.action-div p {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}

.action-div button {
    width: 174px;
    height: 49px;
    background-color: #161616;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
}

.van-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
}

.van-card {
    overflow: hidden;
    padding: auto 20px;
    max-width: 250px;
    font-family: sans-serif;
}

.van-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.van-name {
    font-size: 1rem;
    font-weight: bold;
    margin: 4px;
}

.van-price {
    font-size: 1rem;
    font-weight: bold;
    margin: 4px;
}

.van-price span {
    font-size: 0.8rem;
    color: #555;
}

.van-tag {
    display: inline-block;
    background: #e17654;
    color: white;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    margin-top: 10px;
    text-transform: capitalize;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
}

.host-vans-title {
    padding-inline: 26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}
