#root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center; */
}
body {
    margin: 0px;
    background-color: #fff7ed;
}
.navbar {
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    background-color: #fff7ed;
    padding: 0 20px;
}
.navbar > h1 {
    display: flex;
    font-size: 25.35px;
    justify-content: flex-start;
    align-items: center;
}

.navbar > li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar > li > a {
    text-decoration: none;
    padding: 10px;
}
.navbar > li > a:visited,
a:link {
    text-decoration: none;
    color: black;
}

.footer {
    /* position: fixed;
    bottom: 0;
    width: 100%; */
    background-color: #252525;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    color: #aaaaaa;
}

.home {
    background-image: url('./assets/home.png');
    height: 300px;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home > h1,
.home > p {
    margin: 0px;
    color: white;
}

.home > section > h1 {
    font-size: 36px;
    line-height: 42px;
    color: white;
}
.home > section > p {
    font-size: 16px;
    color: white;
}

.home > button {
    width: 100%;
    border-radius: 5px;
    border-style: none;
    background-color: #ff8c38;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.about-img {
    object-fit: cover;
    height: 340px;
    width: 100%;
}

.about {
    padding: 20px;
}

.action-div {
    background-color: #ffcc8d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.action-div > p {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}

.action-div > button {
    width: 174px;
    height: 49px;
    background-color: #161616;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
}
